body{
  background-color: #FFD1A9;
  display: grid;
  text-align: center;
  
}
#navigation {
  justify-content: flex-start;
  z-index: 100;
}
#navigation a {
  margin-left: 25rem;
}
.banner{
  margin-top: 9ch;
  background-image: url(/img/abstractBack.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 100% 25%;
  border-bottom: 0.5ch solid #890f0c;
}

.banner h1{
  color: #F5F5F5;
  padding: 2.5ch;
  font-size: 8ch;
}

.banner h2{
  color: #F5F5F5;
  padding-bottom: 3ch;
  font-size: 4ch;
}

#container {
  width: 100%;
  padding: 2rem 0 2rem 0;
}
#container h2 {
  padding-bottom: 1rem;
}

form {
  color: #333;
  margin: 0 auto;
  max-width: 40rem;
  border: 1px solid #890f0c;
  border-radius: 2rem;
  padding: 2ch;
  font-family: 'Poppins', sans-serif;
}
fieldset{
  border: none;
}
.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.fieldset-wrapper .wrapper-row {
  display: flex;
  gap: 22px;
  justify-content: space-between;
  align-items: flex-end;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper label {
  line-height: 24px;
  font-size: 14px;
  color: #1f1f20;
  margin-bottom: 8px;
  text-align: left;
}
.input-wrapper label span {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #a9a7af;
}
.input-wrapper input, .input-wrapper textarea {
  background: #FAFAFC;
  border-radius: 8px;
  border: 1px solid #E6E6F0;
  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
  color: #6c6a71;
}
.input-wrapper textarea {
  height: 168px;
  resize: none;
  padding: 1rem;
}

.input-wrapper label span:hover {
  color: #E14564;
}

 #enviar[type="submit"], #buttonCep {
  background-color: #E14564;
  color: white;
  padding: 10px 20px;
  margin: 2rem 0 0 0;
  border: none;
  border-radius: 1.5ch;
  cursor: pointer;
}
#buttonCep {
  margin: 0;
  padding: 0;
  width: 40%;
  height: 3.5rem;
}
 button:hover {
  background-color: #DC143C;

}